{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="catalogo-body">
    <div class="catalogo-contenedor">
        <h3 class="catalogo-title">Helados</h3>
        
        <div class="catalogo-prod-contenedor">
    
            <div class="catalogo-producto" data-name="p-1">
                <img src="/static/images/helados/chocolate.png" alt="">
                <h3>Helado Chocolate</h3>
                <div class="catalogo-precio">$2500</div>
            </div>
    
            <div class="catalogo-producto" data-name="p-2">
                <img src="/static/images/helados/frutilla.png" alt="">
                <h3>Helado Frutilla</h3>
                <div class="catalogo-precio">$2500</div>
            </div>
    
            <div class="catalogo-producto" data-name="p-3">
                <img src="/static/images/helados/vainilla.png" alt="">
                <h3>Helado Vainilla</h3>
                <div class="catalogo-precio">$2500</div>
            </div>
    
            <div class="catalogo-producto" data-name="p-4">
                <img src="/static/images/helados/cafe.png" alt="">
                <h3>Helado Cafe</h3>
                <div class="catalogo-precio">$2500</div>
            </div>
    
            <div class="catalogo-producto" data-name="p-5">
                <img src="/static/images/helados/coco.png" alt="">
                <h3>Helado Coco</h3>
                <div class="catalogo-precio">$2500</div>
            </div>
    
            <div class="catalogo-producto" data-name="p-6">
                <img src="/static/images/helados/limon.png" alt="">
                <h3>Helado Limon</h3>
                <div class="catalogo-precio">$2500</div>
            </div>
        </div>
    </div>


    <div class="catalogo-prod-preview">

        <div class="catalogo-preview active" data-target="p-1">
            <i class="fas fa-times"></i>
            <img src="/static/images/helados/chocolate.png" alt="">
            <h3>Helado Chocolate</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis quidem odit delectus obcaecati voluptatibus eum, eius necessitatibus nam adipisci aut cupiditate quo veniam voluptas asperiores. Deleniti numquam rerum consequatur.</p>
            <div class="catalogo-precio">$2500</div>
        </div>

        <div class="catalogo-preview" data-target="p-2">
            <i class="fas fa-times"></i>
            <img src="/static/images/helados/frutilla.png" alt="">
            <h3>Helado Frutilla</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis quidem odit delectus obcaecati voluptatibus eum, eius necessitatibus nam adipisci aut cupiditate quo veniam voluptas asperiores. Deleniti numquam rerum consequatur.</p>
            <div class="catalogo-precio">$2500</div>
        </div>

        <div class="catalogo-preview" data-target="p-3">
            <i class="fas fa-times"></i>
            <img src="/static/images/helados/vainilla.png" alt="">
            <h3>Helado Vainilla</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis quidem odit delectus obcaecati voluptatibus eum, eius necessitatibus nam adipisci aut cupiditate quo veniam voluptas asperiores. Deleniti numquam rerum consequatur.</p>
            <div class="catalogo-precio">$2500</div>
        </div>

        <div class="catalogo-preview" data-target="p-4">
            <i class="fas fa-times"></i>
            <img src="/static/images/helados/cafe.png" alt="">
            <h3>Helado Cafe</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis quidem odit delectus obcaecati voluptatibus eum, eius necessitatibus nam adipisci aut cupiditate quo veniam voluptas asperiores. Deleniti numquam rerum consequatur.</p>
            <div class="catalogo-precio">$2500</div>
        </div>

        <div class="catalogo-preview" data-target="p-5">
            <i class="fas fa-times"></i>
            <img src="/static/images/helados/coco.png" alt="">
            <h3>Helado Coco</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis quidem odit delectus obcaecati voluptatibus eum, eius necessitatibus nam adipisci aut cupiditate quo veniam voluptas asperiores. Deleniti numquam rerum consequatur.</p>
            <div class="catalogo-precio">$2500</div>
        </div>

        <div class="catalogo-preview" data-target="p-6">
            <i class="fas fa-times"></i>
            <img src="/static/images/helados/limon.png" alt="">
            <h3>Helado Limon</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis quidem odit delectus obcaecati voluptatibus eum, eius necessitatibus nam adipisci aut cupiditate quo veniam voluptas asperiores. Deleniti numquam rerum consequatur.</p>
            <div class="catalogo-precio">$2500</div>
        </div>

    </div>

</div>


<script src="/static/js/catalogo.js" defer></script>

{% endblock %}