{% extends 'base.html' %}
{% block tittle %} Ingresar código {% endblock %}
{% block content %}


<div class="codigo-container">
    <h1>Ingresar Código</h1>
    <p>Por favor, ingresa el código que generó la app móvil para continuar.</p>
    <form method="post" class="codigo-form">
        {% csrf_token %}
        <div class="codigo-form-group">
            <label for="codigo">Código de Verificación:</label>
            <input type="text" id="codigo" name="codigo" class="codigo-form-control" placeholder="Ejemplo: 123456"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Verificar</button>
    </form>
</div>


{% endblock %}