{% extends 'base.html' %}

{% block tittle %}Inicio - Heladería La Nieve{% endblock %}

{% block content %}

<section class="inicio-section">
    <div class="inicio-container">
        <h1>¡Bienvenidos a Heladería La Nieve!</h1>
        <p>Disfruta de los mejores helados artesanales en la ciudad.</p>
        <a href="{% url 'inicio:catalogo' %}" class="btn btn-primary mt-3">Ver Catálogo de Sabores</a>
    </div>
</section>



<style>
    .inicio-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        text-align: center;
    }
    .inicio-section h1 {
        color: #1C1B5B;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .inicio-section p {
        color: #333;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    .inicio-section .btn {
        background-color: #1C1B5B;
        color: #D9D9D9;
        padding: 10px 20px;
        border-radius: 25px;
        font-weight: 700;
    }
    .inicio-section .btn:hover {
        background-color: #e6c006;
        color: #1C1B5B;
    }
</style>

{% endblock %}