{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="about-body">
    <div class="about-heading">
        <h1>SOBRE NOSTROS</h1>
        <p>Hola, somos Fabrica de helados artesanales "La nieve"
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Pariatur deleniti itaque alias repellat hic quibusdam sunt, sed obcaecati optio eveniet quo impedit ex odio,
            a
            necessitatibus nulla eius tempora officiis.</p>
    </div>

    <div class="about-contenedor">
        <section class="about">
            <div class="about-imagen">
                <img src="/static/images/local.jpeg">
            </div>
            <div class="about-contenido">
                <h2>NUESTRA HISTORIA</h2>
                <p>
                    En "La Nieve", llevamos más de 60 años endulzando la vida de nuestros clientes con helados
                    artesanales que no solo conquistan paladares, sino también corazones. Nuestra historia comenzó como
                    un pequeño sueño familiar, impulsado por el deseo de ofrecer algo único: sabores que evocaran
                    recuerdos, momentos felices y sonrisas. Con el tiempo, hemos construido una tradición que mezcla
                    calidad, dedicación y amor por cada detalle, convirtiéndonos en un lugar especial para quienes
                    buscan más que un simple helado.  <br>

                    Cada sabor que ofrecemos tiene una historia, cada receta ha sido cuidadosamente perfeccionada
                    para preservar la esencia de lo artesanal. Pero más allá de nuestros helados, lo que realmente
                    nos define es nuestra conexión con las personas. Creemos que la verdadera magia está en el trato
                    cercano, en escuchar a nuestros clientes, en hacerlos sentir parte de esta gran familia. Para
                    nosotros, "La Nieve" no es solo una heladería, es un espacio donde los momentos simples se
                    transforman en recuerdos inolvidables. <br>
                    
                    <span class="about-oculto" id="textoOculto">
                        Hoy, entendemos que los tiempos cambian y con ellos, las necesidades de quienes confían en
                        nosotros. Aunque nuestras raíces están firmemente ancladas en la tradición, también miramos al
                        futuro con entusiasmo. Queremos seguir creciendo, explorando nuevas formas de estar más cerca de
                        ustedes, nuestros clientes, sin perder lo que nos hace únicos. Por eso, trabajamos para combinar
                        lo mejor de nuestra esencia artesanal con las herramientas de la modernidad, manteniendo vivo
                        nuestro compromiso de calidad y calidez. <br>

                        En "La Nieve", nuestra misión es simple pero poderosa: ser ese rincón especial al que siempre
                        quieras volver, donde cada helado cuenta una historia y cada visita es una experiencia que llena
                        de alegría el corazón. Gracias por permitirnos ser parte de sus momentos más dulces durante
                        tantos años, y por acompañarnos en este viaje que apenas comienza. ¡Por muchos años más de
                        tradición, sabor y cercanía!
                    </span>
                </p>
                <button href="" class="about-leer-mas" id="textoOculto_btn">Leer más</button>
            </div>
        </section>

    </div>

</div>

<script src="/static/js/about.js"></script>

{% endblock %}