{% extends 'basevend.html' %}
{% block title %}Productos{% endblock %}
{% block content %}

<section class="support-section">
    <div class="container">
        <h2 class="support-heading">Preguntas Frecuentes</h2>
        <p class="support-description">Encuentra respuestas a las preguntas más comunes sobre el uso de la plataforma.</p>
        
        <div class="faq">
            <div class="faq-item">
                <h4 class="faq-question">¿Cómo actualizo el estado de un pedido?</h4>
                <p class="faq-answer">Para actualizar el estado de un pedido, navega a la sección de "Pedidos Pendientes" y haz clic en el botón correspondiente para cambiar el estado a "En preparación" o "Listo".</p>
            </div>
            <div class="faq-item">
                <h4 class="faq-question">¿Cómo puedo ver mis pedidos anteriores?</h4>
                <p class="faq-answer">Ve a la sección de "Historial de Pedidos" para revisar los pedidos que ya has completado. Puedes filtrar por fecha para encontrar pedidos específicos.</p>
            </div>
            <div class="faq-item">
                <h4 class="faq-question">¿Cómo contacto al administrador?</h4>
                <p class="faq-answer">Puedes usar el sistema de mensajes interno o enviar un correo desde tu cuenta corporativa.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}