{% extends "base.html" %}
{% block title %}Pedidos Pendientes{% endblock %}
{% block content %}
<h1>Pedidos Pendientes</h1>
<table>
    <tr>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Fecha/Hora</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.cliente }}</td>
        <td>{{ pedido.producto }}</td>
        <td>{{ pedido.cantidad }}</td>
        <td>{{ pedido.fecha_hora }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
