{% extends "base.html" %}
{% block title %}Crear Producto{% endblock %}
{% block content %}

<div class="container mt-4 create-styled">
    <h1 class="create-title">Crear Producto</h1>
    <form method="post" class="create-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="create-form-actions">
            <button type="submit" class="create-btn-guardar">Guardar</button>
            <a href="{% url 'productos:lista_productos' %}" class="create-btn-cancelar">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}
