{% extends "base.html" %}

{% block title %}Eliminar Producto{% endblock %}

{% block content %}

<div class="delete-center">
    <div class="delete-card">
      <div class="delete-header">
        <div class="delete-image"><svg aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                    <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" stroke-linejoin="round" stroke-linecap="round"></path>
                  </svg></div>
        <div class="delete-content">
           <span class="delete-title">Eliminar Producto</span>
           <p class="delete-message">¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="delete-actions">
                <button type="submit" class="delete-desactivate">Eliminar</button>
                <a href="{% url 'productos:lista_productos' %}" class="delete-cancel">Cancelar</a>
            </div>
        </form>
      </div>
      </div>
</div>

{% endblock %}