{% extends "base.html" %}
{% block title %}Lista de Productos{% endblock %}
{% block content %}

<div class="container mt-4 styled-container">
    <h1 class="page-title">Lista de Productos</h1>
    {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
        <a href="{% url 'productos:crear_producto' %}"><button class="create-button">Crear producto</button></a><br><br>
    {% endif %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{% url 'productos:detalle_producto' producto.id %}" class="btn-view">Ver</a>
                    {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
                        <a href="{% url 'productos:editar_producto' producto.id %}" class="btn-edit">Editar</a>
                        <a href="{% url 'productos:eliminar_producto' producto.id %}" class="btn-delete">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}