{% extends 'baseadmin.html' %}

{% block title %}Editar Productos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Productos</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="id_nombre">Nombre:</label>
            {{ form.nombre.errors }}
            {{ form.nombre }}
        </div>
        <div class="form-group">
            <label for="id_descripcion">Descripción:</label>
            {{ form.descripcion.errors }}
            {{ form.descripcion }}
        </div>
        <div class="form-group">
            <label for="id_precio">Precio:</label>
            {{ form.precio.errors }}
            {{ form.precio }}
        </div>
        <div class="form-group">
            <label for="id_cantidad_disponible">Cantidad Disponible:</label>
            {{ form.cantidad_disponible.errors }}
            {{ form.cantidad_disponible }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}