<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block tittle %} HELADERÍA LA NIEVE {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylebase.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylecatalogo.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylecontacto.css' %}">
  <link rel="stylesheet" href="{% static 'css/styleabout.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <script src="https://kit.fontawesome.com/0cdcbb62ac.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  

</head>



<!-- NAVBAR -->
<body>
  <header class="navbar-header">
    <div class="navbar-logo">
      <a href="{% url 'inicio:inicio' %}">
        <img class="imagen-logo" src="/static/images/logo.png" alt="Logo de la marca">
      </a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="{% url 'usuarios:login' %}">Iniciar Sesión</a></li>
        <li><a href="{% url 'inicio:catalogo' %}">Catálogo</a></li>
        <li><a href="{% url 'inicio:about_us' %}">About Us</a></li>
        <li><a href="{% url 'inicio:recomendaciones' %}">Contáctanos</a></li>
        <li><a href="{% url 'inicio:codigo' %}">Código</a></li>
      </ul>
    </nav>
    <a download="APPnieve" href="/static/app/lanieve.apk" class="navbar-btn"><button>Descarga nuestra app!</button></a>
  </header>



  <!-- IMPORTACIÓN DE OTRAS HOJAS -->
  <main class="content">
    {% block content %}
    
    {% endblock %}
  </main>



  <!-- PIE DE PÁGINA -->
  <div class="pie-pagina contenedor">
    <div class="contenedor-pie-pagina">
      <div class="pie-info">
        <h3>Dirección</h3>
        <p>Calle Cinco De Abril 724 Loc. 16 Galería Diego Portales</p>
      </div>
      <div class="pie-info">
        <h3>Días especiales</h3>
        <p>Sábados: 10am - 3:30pm</p>
        <p>Domingos: Cerrado</p>
        <p>(56-42) 2223891</p>
      </div>
      <div class="pie-info">
        <h3>Horarios</h3>
        <p>Lunes a Viernes: 10am - 7pm</p>
        <p>(56-42) 2223891</p>
      </div>
      <div class="pie-info redes-pie">
        <h3>Síguenos</h3>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>

  <footer class="navbar-footer">
    <p>Todos los derechos reservados &copy; 2024 Heladería La Nieve.</p>
  </footer>


</body>
</html>