/* PRODUCTOS */

.catalogo-body{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

.catalogo-contenedor{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.catalogo-contenedor .catalogo-title{
    font-size: 3.5rem;
    color: #1C1B5B;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.catalogo-contenedor .catalogo-prod-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer; 
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto img{
    height: 25rem;
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto:hover img{
    transform: scale(.9);
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto:hover h3{
    color: #27ae60;
}

.catalogo-contenedor .catalogo-prod-contenedor .catalogo-producto .catalogo-precio{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}


/* PREVIEW */

.catalogo-prod-preview{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.catalogo-prod-preview .catalogo-preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.catalogo-prod-preview .catalogo-preview.active{
    display: inline-block;
}

.catalogo-prod-preview .catalogo-preview img{
    height: 30rem;
}

.catalogo-prod-preview .catalogo-preview .fa-times{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.catalogo-prod-preview .catalogo-preview .fa-times:hover{
    transform: rotate(90deg);
}

.catalogo-prod-preview .catalogo-preview h3{
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.catalogo-prod-preview .catalogo-preview .stars i{
    padding: 1rem 0;
    font-size: 1.7rem;
}

.catalogo-prod-preview .catalogo-preview .stars i{
    color: #27ae60;
}

.catalogo-prod-preview .catalogo-preview .stars span{
    color: #999;
}

.catalogo-prod-preview .catalogo-preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #777;
}

.catalogo-prod-preview .catalogo-preview .catalogo-precio{
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}


@media(max-width:768px){
    .catalogo-prod-preview .catalogo-preview img{
        height: 25rem;
    }
}