{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}

<section class="login-body">
    <div class="login-form-main">
        <div class="login-form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="login-box">
                <h3>Iniciar Sesión</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="text" name="username" placeholder="Nombre de usuario" class="input-control" required>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Contraseña" class="input-control" required>
                    </div>
                    <button type="submit" class="login-btn">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}