{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}

<section class="login-body">
    <div class="login-form-main">
        <div class="login-form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="login-box">
                <h3>Crear una cuenta</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="input-box">
                        {{ form.username.label_tag }} {{ form.username }}
                    </div>
                    <div class="input-box">
                        {{ form.apellido.label_tag }} {{ form.apellido }}
                    </div>
                    <div class="input-box">
                        {{ form.email.label_tag }} {{ form.email }}
                    </div>
                    <div class="input-box">
                        {{ form.rol.label_tag }} {{ form.rol }}
                    </div>
                    <div class="input-box">
                        {{ form.password.label_tag }} {{ form.password }}
                    </div>
                    <div class="input-box">
                        {{ form.password_confirmacion.label_tag }} {{ form.password_confirmacion }}
                    </div>
                    <button type="submit" class="login-btn">Crear Cuenta</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}